container_commands:
  01-oauth-keys:
    env:
      AWS_ENV:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: AWS_ENV
    command: |
      aws secretsmanager get-secret-value --secret-id $AWS_ENV --region=us-east-1 --query=SecretString --output text | jq -r ."OAUTH_PUBLIC_KEY" | sed -e "s/-----BEGIN PUBLIC KEY-----/&\n/" -e "s/-----END PUBLIC KEY-----/\n&/" -e "s/\S\{64\}/&\n/g" > storage/oauth-public.key
      aws secretsmanager get-secret-value --secret-id $AWS_ENV --region=us-east-1 --query=SecretString --output text | jq -r ."OAUTH_PRIVATE_KEY" | sed -e "s/-----BEGIN RSA PRIVATE KEY-----/&\n/" -e "s/-----END RSA PRIVATE KEY-----/\n&/" -e "s/\S\{64\}/&\n/g" > storage/oauth-private.key
      chmod 444 storage/oauth-public.key
      chmod 444 storage/oauth-private.key
      chgrp nginx storage/oauth-public.key
      chgrp nginx storage/oauth-private.key
